
<li>
<div class="row">
  <div class="col s3">
    <div class="card medium">
      {{#link-to 'book' book.id}}
      <div class="card-image">
        <img src={{book.image}} alt={{book.title}}>
      </div>
      <div class="card-content">
        {{book.title}}
        <br>
        by: {{book.author}}
        <br>
        ${{book.price}}
      </div>
      {{/link-to}}
      <button class="waves-effect waves-light btn blue" {{action 'addToCart' book}}>Buy this book!</button>
    </div>
  </div>
</div>

</li>
